.anchor
.DS_Store
target/*

!target/types/
!target/idl/

target/types/*
target/idl/*

!target/types/pencil_solana.ts
!target/idl/pencil_solana.json

**/*.rs.bk
node_modules
test-ledger
.yarn
.history
deployment-*.json
docs/docs_local/
